<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quite Unusual Inc.</title>
    	<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!--Style links and fonts-->
		<link rel="stylesheet" href="/assets/css/reset.css">
		<link rel="stylesheet" href="/assets/css/normalize.css">
    	<link rel="stylesheet" href="/assets/css/main.css">

		<!--favicon-->
		<link rel="icon" type="image/x-icon" href="/assets/css/images/favicon.jpg">
		
		<!--Font Awesome-->
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">


    </head>



	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
                    <div class="logoContainer">
						<h1><a href="/" id="logo">Quite Unusual Inc.</a></h1>
                    </div>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li ><a href="/about">About Us</a></li>
								<li><a href="https://quite-unusual-merch.creator-spring.com" target="_blank">Merch Store</a></li>
								<li><a href="https://www.patreon.com/QuiteUnusualPod" target="_blank">Join the Coven</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
						</nav>

				</div>			

            <!-- Gigantic Heading -->
				<section class="wrapper style2" id="homeCaro">
					<div class="container carousal">
						<section class="slideshow">
							<div class="slideshow-wrapper">
								<div class="slide">
									<img class="slide-img" 
										src="/assets/css/images/homeCarosaul/IMG_4928.jpg">
								</div>
								<div class="slide">
									<img class="slide-img" 
										src="/assets/css/images/homeCarosaul/group-crop.png">
								</div>
								<div class="slide">
									<img class="slide-img" 
										src="/assets/css/images/homeCarosaul/moustache-crop.jpg">
								</div>
								<div class="slide">
									<img class="slide-img" 
										src="/assets/css/images/homeCarosaul/bar-crop-2.png">
								</div>
								<div class="slide">
									<img class="slide-img" 
										src="/assets/css/images/homeCarosaul/studio-crop-2.jpg">
								</div>
							</div>
						</section>
					</div>
				</section>    

            <section class="wrapper style2 hero">
                <div class="container">
                    <h2>For when things get Quite Unusual</h2>
                    <p>Join best friends, Nicole and Noelle in the Haunted Attic as 
						they talk about all sorts of strange and unusual topics. 
						From history's most nefarious cults, local ghost stories, 
						conspiracies, murder mysteries, paranormal activities, urban legends, 
						UFO phenomena, and unexplained events. Nothing is off limits but everything 
						is unusual, so sit back, get weird with us and remember to Celebrate the
						Strange and Keep it Unusual! 
					</p> 
					<p>	 
						Find us on social media <a href="https://www.instagram.com/quiteunusualpod/" target="_blank">@QuiteUnusualPod</a> <br>
						Email us at <a href="mailto:quiteunusualpod@gmail.com">QuiteUnusualPod@gmail.com</a><br>
						Or send us something spooky at <br> P.O. Box 1212 Des Plaines, IL, 60017
                    </p>
					
                </div>
            </section>

			<section class="wrapper style2 hero2" id="hero2">
				<section class="listener-banner">
					<h2> Give us a listen!</h2>
				</section>

		<!--Episode listener Area-->
		
                <div class="episode-listener-container">
					<img src="/assets/css/images/logo.png" id="logo">
					<section class="episode-listener-interior">
					<section class="episode-player-block">
						<div class="details">
							<div id="episodeName" class="episode-name">Episode Title</div>
						</div>
					<div class = "episode-player">
						<div class="buttons">
							<div class="playpause-track" onclick="playpauseTrack()">
								<i class="fa fa-play-circle fa-5x"></i>
							</div>
						</div>

						<div class="slider_container">
							<div class="current-time">00:00</div>
							<input type="range" min="0" max="100"
								value="0" class="seek_slider" onchange="seekTo()">
							<div class="total-duration">00:00</div>
						</div>
					</div>
				</section>
					<div class="episode-list-container">
						<ul class="episode-list">
							<% episodes.forEach( el => { %>
								<li class="episodeItem" >
									<span class="<%= el.episode_number %>"><%= el.episode_number %></span>
									<span class="<%= el.title %>" id="episode-title"><%= el.title %></span>
									<span class="episode-length"><%= el.duration %></span>
									<span class="source" id="episode-source" ><%= el.audio_url %></span>
								</li>
							<% }) %>  
						</ul>
					</div>
				</section>
				</div>	
					<aside class="podcast-sources">
						<ul>
							<li><a class="listen__item listen__item--apple" target="_blank" rel="noopener" href="https://podcasts.apple.com/us/podcast/quite-unusual/id1505830338?uo=4"></a></li>
							<li><a class="listen__item listen__item--spotify" target="_blank" rel="noopener" href="https://open.spotify.com/show/6IhV02gKSkYYBuyHhhSefu"></a></li>
							<li><a class="listen__item listen__item--google" target="_blank" rel="noopener" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5idXp6c3Byb3V0LmNvbS85Njg0NjQucnNz"></a></li>
							<li><a class="listen__item listen__item--podcastindex" target="_blank" rel="noopener" href="https://podcastindex.org/podcast/560157"></a></li>
							<li><a class="listen__item listen__item--overcast" target="_blank" rel="noopener" href="https://overcast.fm/itunes1505830338"></a></li>
							<li><a class="listen__item listen__item--stitcher" target="_blank" rel="noopener" href="https://www.stitcher.com/podcast/quite-unusual"></a></li>
						</ul>
					</aside>
                
            </section>

               <!--Contact Us-->
               <div class="container contact">
                <h2>Find Us At</h2>
                <ul class="icons">
                    <li><a href="https://twitter.com/quiteunusualpod" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/QuiteUnusualPod" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/quiteunusualpod/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                    <li><a href="mailto:quiteunusualpod@gmail.com" class="icon circle fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                </div>
	
				
					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; Quite Unsual Inc. All rights reserved</li>
							</ul>
						</div>

				</div>

		</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>